[project]
	description = Created for toolchain: https://console.ng.bluemix.net/devops/toolchains/58304036-12f5-4e96-88cd-580233fc73e5?env_id=ibm%3Ayp%3Aus-south
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Geetika94
[access "refs/for/refs/*"]
	read = group user/Geetika94
	push = group user/Geetika94
	label-Code-Review = -2..+2 group user/Geetika94
	label-Verified = -1..+1 group user/Geetika94
	rebase = group user/Geetika94
	removeReviewer = group user/Geetika94
	submit = group user/Geetika94
[access "refs/heads/*"]
	read = group user/Geetika94
	create = group user/Geetika94
	push = +force group user/Geetika94
	pushMerge = group user/Geetika94
[access "refs/tags/*"]
	push = group user/Geetika94
	push = +force group user/Geetika94
